.App {
  text-align: center;
  }

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (min-width: 768px) {
  .App .container button {
    margin-left: calc(4 * 0.5rem);
    margin-right: calc(4 * 0.5rem);  }
}

.App .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.App .container button {
  align-items: center;
  background: #FFFFFF;
  border: 0 solid #E2E8F0;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  color: #1A202C;
  background-color: #61dafb;
  display: inline-flex;
  font-family: Inter, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  height: 56px;
  justify-content: center;
  line-height: 24px;
  overflow-wrap: break-word;
  padding: 24px;
  text-decoration: none;
  width: auto;
  border-radius: 8px;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  height: calc(1 * 1.5rem);
  background-color: aqua;
}

.App .container button:hover {
  background-color: #1e293b;
  color: #fff;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-content {
  background-color: #282c34;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

p {
  color: white;
  font-size: 16px;
  text-align: center;
  margin: 0;
  padding: 10px;
}
