@keyframes spinner-animation-coffee {
    0%, to {
        transform-origin: center;
        transform: scale(.2);
    }
    10% {
        transform: scale(1);
    }
}

@keyframes spinner-animation-whiskey {
    0%, to {
        transform-origin: center;
        transform: scale(.2);
    }
    33% {
        transform: scale(1);
    }
}

@keyframes spinner-animation-water {
    0%, to {
        transform-origin: center;
        transform: scale(.2);
    }
    50% {
        transform: scale(1);
    }
}

.spinner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-youtube-pause {
    background: #f00;
    border-color: #f00;
    color: #fff;
  }
  
  .btn-youtube-play {
    background: #fff;
    border-color: #333;
    color: #333;
  }

  p {
    font-size: 0.8rem;
  }
